.input__wrapper{
    display: flex;
    width: 240px;
    height: 56px;
    border-radius: 5px;
    border:1px solid black;
}

.input__wrapper:hover{
    border: 2px solid green;
}

.input__img{
    width:24px;
    margin-right: -24px;
    z-index: 2;
}

.input__serch{
    width: 100%;
    padding-left: 40px;  
    border: none;
}

.input__serch:focus{
  background-color: rgb(106, 231, 110);
}

@media (max-width: 480px){
    .input__wrapper{
        margin: 0 auto;
    }

    .input__wrapper{
        width:95%;
    }
}