.slects__serch-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 62px;
    
}
  
.slects__serch{
    display: flex;
    width: 24%;
    height: 56px;
    border-radius: 5px;

}

.slects__option {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}


@media (max-width: 480px){
    .slects__serch{
        display: none;
    }
}