.main-locations{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

.main-locations__imag{
    margin-bottom: 24px;
}

.main-locations__selects{
    display: flex;
    gap:20px;
}

.main-locations__contant-wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width:1020px;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom:  48px;
    gap:19px;
}

/* --------button ---------- */

.main-locations__button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width:154px;
    height: 36px;
    border-radius: 5px;
    border: none;
    background-color: #F2F9FE;
    box-shadow: 0px 5px 5px gray;
  }
  
  .main-locations__button-text{
    font-size:  14px;
    font-weight: medium;
    color: #2196F3;
    text-transform: uppercase;
  }


  .main-locations__button:hover{
    background-color: #81bce7;
  }
  
  .main-locations__button:active{
    background-color: #579ed0;
  }

  @media(max-width: 1019px){
    .main-locations__contant-wrapper{
      justify-content: center;
    }
  }